@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <a>Factify</a>
        </div>

        <div class="second-row px-4">
            <div class="first-text">Tabellarische Auswertung</div>
            <div class="second-text">Grafische Auswertung [Diagramm]</div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
