<html>
<head>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
  <style type="text/css">

    html,
    body,
    #container {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  
</style>
</head>
<body>
  
  <div id="container"></div>
  

  <script>

    anychart.onDocumentReady(function () {
      // create data set on our data
      var chartData = {
        header: ['#', 'INITIAL GESCHÄTZE ZEIT', 'TATSÄCHLICH AUFGEWENDETE ZEIT', 'DIFFERENZ'],
        rows: [
          ['#145', 10, 13, 3],
          ['#223', 15, 12, -3],
          ['#378', 20, 25, 5],
          ['#507', 12, 10, -2],
          ['#689', 8, 6, -2],
          ['#742', 16, 14, -2],
          ['#896', 18, 20, 2],
          ['#436', 30, 35, 5],
          ['#781', 62, 49, -13],
          ['#16', 37, 38, 1],
        ]
      };

      // create column chart
      var chart = anychart.column();

      // set chart data
      chart.data(chartData);

      // turn on chart animation
      chart.animation(true);

      chart.yAxis().labels().format('Std:{%Value}{groupsSeparator: }');

      // set titles for Y-axis
      chart.yAxis().title('Zeit');

      chart
        .labels()
        .enabled(true)
        .position('center-top')
        .anchor('center-bottom')
        .format('{%Value}{groupsSeparator: }Std');
      chart.hovered().labels(false);

      // turn on legend and tune it
      chart.legend().enabled(true).fontSize(13).padding([0, 0, 20, 0]);

      // interactivity settings and tooltip position
      chart.interactivity().hoverMode('single');

      chart
        .tooltip()
        .positionMode('point')
        .position('center-top')
        .anchor('center-bottom')
        .offsetX(0)
        .offsetY(5)
        .titleFormat('{%X}')
        .format('{%SeriesName} : Std:{%Value}{groupsSeparator: }');

      // set container id for the chart
      chart.container('container');

      // initiate chart drawing
      chart.draw();
    });
  
</script>
</body>
</html>