@page "/"
@using Development_Time_Tracker.Components.DataTable;

<PageTitle>Development-Time-Tracker</PageTitle>

<div class="home-container">
    <div class="left-segment">
    <TimeDataTable /> </div>
    <div class="right-segment">
        <h1> Right Segment Content </h1>
    </div>
</div>