@page "/"

<PageTitle>Development-Time-Tracker</PageTitle>

<div class="home-container">
    <div class="left-segment">
        <h1> Left Segment Content </h1>
    </div>
    <div class="right-segment">
        <h1> Right Segment Content </h1>
    </div>
</div>

