@page "/"
@using Development_Time_Tracker.Components.DataTable;
@using Development_Time_Tracker.Components.BarChart;

<PageTitle>Development-Time-Tracker</PageTitle>

<div class="home-container">
    <div class="left-segment">
    <TimeDataTable /> </div>
    <div class="right-segment">
    <BarChartTime/> </div>
</div>