@using Blazorise
    <Table Striped>
        <TableHeader style="background-color: #5e813f !important; color: white;">
            <TableRow>
                <TableHeaderCell style="text-align: center">GITHUB ISSUE NUMMER</TableHeaderCell>
                <TableHeaderCell style="text-align: center">INITIAL GESCHÄTZE ZEIT IN STUNDEN</TableHeaderCell>
                <TableHeaderCell style="text-align: center">TATSÄCHLICH AUFGEWENDETE ZEIT IN STUNDEN</TableHeaderCell>
                <TableHeaderCell style="text-align: center">DIFFERENZ</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            <TableRow>
                <TableRowHeader style="background-color: #e4efdc !important;">#145</TableRowHeader>
                <TableRowCell>10</TableRowCell>
                <TableRowCell>13</TableRowCell>
                <TableRowCell>3</TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowHeader style="background-color: #e4efdc !important;">#223</TableRowHeader>
                <TableRowCell>15</TableRowCell>
                <TableRowCell>12</TableRowCell>
                <TableRowCell>-3</TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowHeader style="background-color: #e4efdc !important;">#378</TableRowHeader>
                <TableRowCell>20</TableRowCell>
                <TableRowCell>25</TableRowCell>
                <TableRowCell>5</TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowHeader style="background-color: #e4efdc !important;">#507</TableRowHeader>
                <TableRowCell>12</TableRowCell>
                <TableRowCell>10</TableRowCell>
                <TableRowCell>-2</TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowHeader style="background-color: #e4efdc !important;">#689</TableRowHeader>
                <TableRowCell>8</TableRowCell>
                <TableRowCell>6</TableRowCell>
                <TableRowCell>-2</TableRowCell>
            </TableRow>
                <TableRow>
                <TableRowHeader style="background-color: #e4efdc !important;">#742</TableRowHeader>
                <TableRowCell>16</TableRowCell>
                <TableRowCell>14</TableRowCell>
                <TableRowCell>-2</TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowHeader style="background-color: #e4efdc !important;">#896</TableRowHeader>
                <TableRowCell>18</TableRowCell>
                <TableRowCell>20</TableRowCell>
                <TableRowCell>2</TableRowCell>
            </TableRow>
                <TableRow>
                <TableRowHeader style="background-color: #e4efdc !important;">#436</TableRowHeader>
                <TableRowCell>30</TableRowCell>
                <TableRowCell>35</TableRowCell>
                <TableRowCell>5</TableRowCell>
            </TableRow>
                <TableRow>
                <TableRowHeader style="background-color: #e4efdc !important;">#781</TableRowHeader>
                <TableRowCell>62</TableRowCell>
                <TableRowCell>49</TableRowCell>
                <TableRowCell>-13</TableRowCell>
            </TableRow>
                <TableRow>
                <TableRowHeader style="background-color: #e4efdc !important;">#16</TableRowHeader>
                <TableRowCell>37</TableRowCell>
                <TableRowCell>38</TableRowCell>
                <TableRowCell>1</TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowHeader style="background-color: #5e813f !important; color: White;">SUMME</TableRowHeader>
                <TableRowCell style="background-color: #e4efdc !important;">295</TableRowCell>
                <TableRowCell style="background-color: #e4efdc !important;">301</TableRowCell>
                <TableRowCell style="background-color: #e4efdc !important;">6</TableRowCell>
            </TableRow>
        </TableBody>
    </Table>