@using Blazorise

    <Table>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>GITHUB ISSUE NUMMER</TableHeaderCell>
                <TableHeaderCell>INITIAL GESCHÄTZE ZEIT IN STUNDEN</TableHeaderCell>
                <TableHeaderCell>TATSÄCHLICH AUFGEWENDETE ZEIT IN STUNDEN</TableHeaderCell>
                <TableHeaderCell>DIFFERENZ</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            <TableRow>
                <TableRowHeader>?</TableRowHeader>
                <TableRowCell>?</TableRowCell>
                <TableRowCell>?</TableRowCell>
                <TableRowCell>?</TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowHeader>?</TableRowHeader>
                <TableRowCell>?</TableRowCell>
                <TableRowCell>?</TableRowCell>
                <TableRowCell>?</TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowHeader>?</TableRowHeader>
                <TableRowCell>?</TableRowCell>
                <TableRowCell>?</TableRowCell>
                <TableRowCell>?</TableRowCell>
            </TableRow>
        </TableBody>
    </Table>